<h1>{{title}}</h1>
<p>
	{{description}}
</p>
<ul>
	{{#each tools}}
		<li>{{this}}</li>
	{{/each}}
</ul>
<p>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
	<a href="about.html">about</a>
</p>
<img src="/images/gulp.png" alt="gulp">
